:root{
   --background: rgb(234,242,236);
   --darkblue: rgb(125,168,200);
   --seagreen: rgb(41,110,94);
}

*{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

body{
    margin-left: 3px;
    margin-right: 3px;
}

header{
    text-align: center;
    padding: 0.5rem;
}

h1{
    font-size: 200%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    text-align: center;
}

nav ul li{
    display: inline;
    padding: 1px 1rem 1px 1rem;
}

main{
    min-height: 1000px;
    background-color: lightblue;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.about-me{
    margin: 4px 2px 2px 2px;
    padding: 10px;
    margin: 5px;
}

.featured-app{
    background-image:url(./placeholder-image.png);
    background-size: contain;
    min-height: 100%;
    min-width: 50%;
    flex: 0 1 auto;
    justify-content: flex-start;
    margin: 5px;
    align-content: center;
}

.featured-app h1{
    text-align: center;
    align-items: flex-end;
}

.portfolio{
    flex-direction: column;
    justify-content: space-evenly;
}

.portfolio-app{
    min-height: 33%;
    flex: 0 1 auto;
    margin: 5px;
}
